body{
    background: url(imagens/daniel-k-cheung-nXKNn2L4fDw-unsplash.jpg) no-repeat center fixed;
    background-size: cover;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
}

button {
    width: 15%;
    height: 100%;
    background: none;
    border-radius:  1rem;
}

.container{
    /* background: whitesmoke; */
    height: 450px;
    width: 400px;
    margin: 10% auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
}


.card{
    border: 2px solid black;
    background: url(imagens/brushed\ metal.jpg);
    height: 100%;
    width: 70%;
    border-radius: 1rem;
    margin: auto;
    flex-direction: column;
    
}

.topo{
    justify-content: space-around;
}

.foto {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5rem;
}

.corpo {

}

.redes{
    justify-content: flex-end;
}